<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Port Scanner</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

   
</head>
<body>
    <h1><i class="fas fa-shield-alt"></i> Cyber Port Scanner(CPS)</h1>
    <div class="container">
        <form method="POST">
            <label for="target_ip">Enter Target IP Address:</label>
            <input type="text" id="target_ip" name="target_ip" required value="{{ target_ip if target_ip else '' }}">

            <label for="port">Enter Port (Leave empty to scan all ports):</label>
            <input type="number" id="port" name="port" value="{{ port if port else '' }}">

            <button type="submit"><i class="fas fa-search"></i> Scan</button>
        </form>

        {% if result %}
        <div class="result">
            <h2>Scan Results:</h2>
            {% for res in result %}
                <p><i class="fas fa-circle" style="color: green;"></i> {{ res }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="footer">
        <p>Powered by <a href="https://enock46.github.io/enovo/" target="_blank">enovo</a></p>
    </div>
</body>
</html>

